.main-data-list {
    background-color: #f4f4f4;
    margin-bottom: 15px;
    border-radius: 16px;
    height: 173px;
    margin-left: 35px;
}

button.export {
    border-radius: 10px;
    padding: 0px 18px;
}

.main-data-list td {
    padding: 0px 20px;
    text-align: left;
    vertical-align: sub;
}

.main-data-list td.title {
    width: 154px;
}

p.rating, img{
        display: inline-block;
}

.rating>span{
    margin-left: 4px;
    color: rgb(161, 161, 161);
}

p.rating{
    margin-left: 3px;
}

img {
    margin-bottom: 4px;
}

.row.data-row {
    padding: 12px 0px;
}


button.sub {
    height: 150px;
    border: none;
    border-top-right-radius: 25px;
    background-color: #9b9b9b;
    border-bottom-right-radius: 25px;
    color: white;
}

.pin, .location{
    float: left;
}

.row.inner.location {
    margin-top: 30px;
}

.row.inner.location p>span {
    color: #bbbbbb;
}

img.pin {
    margin-top: 5px;
}
.col-loc {
    padding-left: 30px;
    width: 195px;
}

body {
    overflow-x: hidden;
}