.col-md-3.right {
    position: absolute;
    right: 0;
    width: 6%;
    transition: .2s ease;
}

.col-md-9.left {
    width: 94%;
    transition: .2s ease;
}

.icons, .dynamic{
    display: inline-block;
}

.dynamic{
    background-color: white;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

#close{
    display: none;
}

#mobile-menu, #close{
    cursor: pointer;
}

.menu-img {
    background-color: rgb(155 155 155);
    padding: 8px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.toggle{
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-light.row {
    padding: 20px 0px;
    background-color: rgb(209, 209, 209);
}

.col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
    padding: 0px 24px;
    border-right: none;
}

.menu-img-bg-light{
    background-color: white;
    padding: 8px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.outer-heading{
    border-bottom: 1px solid black;
}

.data-heading{
    min-width: 100%;
}

.data{
    min-width: 100%;
    display: flex;
}
li {
    list-style-type: none;
    width: fit-content;
    float: left;
    margin: 3px 0px;
    padding: 1px 11px;
    border: 1px solid black;
    border-radius: 15px;
}

ul {
    padding-left: 0;
}

h2.outer-heading {
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 10px;
}

h4.inner-heading {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.col-sm-9 {
    flex: 0 0 auto;
    width: 71%;
    margin-left: 13px;
}

.border-bottomm{
    border-bottom: 1px solid #dddddd !important;
}

.dropdown{
    display: inline-block;
}

.dropdown:not(:last-child) {
    margin-right: 3px;
}
.outer li {
    margin-right: 8px;
    font-size: 12px;
}

button.reset, button.apply {
    background-color: #9b9b9b;
    border: none;
    color: white;
    margin-right: 4px;
    padding: 8px 20px;

}

button.reset{
    position: absolute;
    right: 118px;
    margin-top: -30px;
}
button.apply{
    position: absolute;
    right: 30px;
    margin-top: -30px;
}

ul.last-ul {
    padding-bottom: 50px;
}